<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart Totalizer</title>
</head>
<body>
    <h2>🛒 Enter Item Prices</h2>
    <form method="POST" action="/total">
        <input type="text" name="price" placeholder="Price 1"><br><br>
        <input type="text" name="price" placeholder="Price 2"><br><br>
        <input type="text" name="price" placeholder="Price 3"><br><br>
        <input type="text" name="price" placeholder="Price 4"><br><br>
        <input type="text" name="price" placeholder="Price 5"><br><br>
        <input type="submit" value="Calculate Total">
    </form>
</body>
</html>
